body.modal-open {
  overflow: hidden !important;
  padding-right: calc(100vw - 100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    background: white;
    display: flex;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 2001;

    @media (max-width: 768px) {
      width: 90%;
      margin: 10px auto;
      max-height: calc(100vh - 40px);
      border-radius: 20px;


    }
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    z-index: 1002;
    
    @media (max-width: 768px) {
      right: 12px;
      top: 12px;
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    padding-top: 20px;
  }
}
